body{
    width:100vw;
    height:100vh;
    
    display:grid;
    grid-template-columns:1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
      "sidebar header"
      "sidebar main";
    
    background-color: lightgray;
    
    margin:0;
    padding:0;
  }
  
  header{
    grid-area: header;
  }
  
  aside{
    grid-area: sidebar; 
    grid-row:1/-1;
    background-color: gray;
  }
  
  main{
    grid-area: main;
    grid-row: -2/-1;
    background-color: white;
  }